<p class="m-3">
    <strong> Domicilio:</strong>
   {{colonia}} {{calle}} {{numero}}
   </p>
   <p class="m-3">
    <strong> Telefono:</strong>
   {{telefono}}
   </p>
   <p class="m-3">
    <strong> Lugar</strong>
   {{ciudad}} {{estado}}
   </p>