<div class="container">

    <table class="table table-success" border="1" style="width: 113%; margin-left: -45px;">
        <thead>
            <td><strong>Nombre</strong></td>
            <td><strong>Curp</strong></td>
            <td><strong>Domicilio</strong></td>
            <td><strong>Telefono</strong></td>
            <td><strong></strong></td>
        </thead>
        <tbody>
        {{#each empleado}}
            <tr style="text-align: justify;">
                
                    <td style="text-align: justify;"><a href="http://127.0.0.1:4000/empleados/visualizar/{{idEmpleado}}/{{idSession}}">
                        <strong>{{ nombre}}</strong>    
                    </a> </td>
                <td style="text-align: justify;"> <a href="#">
                       {{curp}}
                    </a></td>
                    <td>
                        {{ ciudad }}
                        {{estado }}
                        {{calle}}
                        {{numero}}
                    </td>
                <td style="text-align: justify;">
                    {{telefono}}
                    </td>
            </tr>
        {{/each}}
        </tbody>
         
    </table>
</div>