{{#each proveedores}}
    <tr>
    <td>{{numero}}</a></td>
        <td><a href="http://127.0.0.1:4000/proveedores/editar/{{id}}/{{idUsuario}}/{{idSession}}">{{nombre}}</a></td>
        <td>{{telefono}}</td>
        <td>{{correo}}</td>
        <td>{{rfc}}</td>
        <td>{{municipio}} 
            <br>
        {{calle}}</td>
</tr>
{{/each}}