

<div class="form-group">
                            <input type="text" class='form-control' name='nombre' placeholder="Nombre de la empresa"
                                value="{{nombre}}" autofocus>
                        </div>
                        <div class="form-group">
                            <input type="text" class='form-control' name='colonia' placeholder="Colonia" value="{{colonia}}">
                        </div>
                        <div class="form-group">
                            <input type="text" class='form-control' name='calle' placeholder="Calle" value="{{calle}}">
                        </div>
                        <div class="form-group">
                            <input type="number" class='form-control' name='numero' placeholder="Numero" value="{{numero}}">
                        </div>
                        <div class="form-group">
                            <textarea name="referencia" id="" cols="20" rows="5"
                                class="form-control" placeholder="Referencia">{{referencia}}</textarea>
                                
                        </div>