<table>
    <tr>
        <td>Clave | Codigo de barras:</td>
        <td>
            <br>
            <input type="text" class='form-control' name='clave' placeholder="Clave del producto" value="{{clave}}" required="true" autofocus>
            <br>
        </td>
    </tr>
    <tr>
        <td>Sección:</td>
        <td><br>
            <input type="text" class='form-control' name='seccion' placeholder="" value="{{seccion}}" required="true"><br>
        </td>
    </tr>
    <tr>
        <td>Marca:</td>
        <td><br>
            <input type="text" class='form-control' name='marca' placeholder="" value="{{marca}}" required="true"><br>
        </td>
        <td> Línea:</td>
        <td><br>
            <input type="text" class='form-control' name='linea' placeholder="" value="{{linea}}" required="true"><br>
        </td>
        <td> Serie:</td>
        <td><br>
            <input type="text" class='form-control' name='serie' placeholder="" value="{{serie}}" required="true"><br>
        </td>
    </tr>

</table>
<table>

    <tr>
        <td>Descripción:</td>
        <td><br>
            <textarea name="descripcion" id="" cols="88" rows="3" required="true">{{descripcion}}</textarea>
        </td>
    </tr>
</table>
<table>
    <tr>
        <td>Garantía</td>
        <td>
            <br>
            <input type="text" class='form-control' name='garantia' value="{{garantia}}" placeholder="S/G">
            <br>
        </td>
        <td>Unidad de Medida</td>
        <td>
            <br>
            <input type="text" class='form-control' name='unidadMedida' value="{{unidadMedida}}" placeholder="">
            <br>
        </td>
    </tr>
    
    <tr>
        <td>Proveedores</td>
        <td>
           <br>
            <select name="idProveedor"  class="form-control" id="">
                    {{>productos/listaProveedores}} 
            </select>
            <br>    
        </td>
         <td>Causa Iva </td>
        <td>
            
                <input type="checkbox" name="iva" value="{{iva}}">  
            <br>
        </td>
    </tr>
   
</table>