<tr>
    <th scope="row">1</th>
   <td style="width: 20%; text-align: justify;">{{claveServicio}}</td>
    <td style="width: 20%; text-align: justify;">{{nombre}}</td>
    <td style="width: 20%; text-align: justify;">{{precio}}</td>
    <td style="width: 20%; text-align: justify;">{{porcentaje}}</td>
    <td style="width: 20%; text-align: justify;">{{descripcion}}</td>
    
</tr>